<!doctype html>
<html
  class="no-js"
  lang="{{ request.locale.iso_code }}"
  {% if localization.market.handle %}
    data-market="{{ localization.market.handle }}"
  {% endif %}
>
  <head>
    <meta charset="utf-8">
    {{ content_for_header }}
  </head>
  <body>
    {{ content_for_layout }}
  </body>
</html>
