
<div class="page-width">

  <div>
    <div>
      {% for image in product.images %}
    {{ image | image_url: width: 300 | image_tag }}
  {% endfor %}  
    </div>
    {%  form 'product', product %}
    <div>
      {{ product.title }}
    </div>
    {% endform %}
  </div>

</div>