
<div class="page-width">
{%  form 'product', product %}
  <div>
    <div>
      {% for image in product.images %}
    {{ image | image_url: width: 300 | image_tag }}
  {% endfor %}  
    </div>
    <div>
      {{ product.title }}
    </div>
  </div>
{% endform %}
</div>